.maincontain{
    height:100vh;
    width:100%;
    overflow-y: scroll;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    padding-bottom: 4rem;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
.imagecontain{
   height:350px;
   width:60%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row ;
  justify-content: space-evenly;
  cursor: pointer;
  gap:2rem;
  background-color: white;
  padding: 1rem;

   .leftimage{
    height:250px;
    width:60%;
    align-self: center;
    border-radius: 0.5rem;
    
     margin-left: 1rem; 
    border: 1px solid black;
   }
   .rightside{
    width:40%;
    height:250px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .rightimage{
        height:100px;
        width:60%;
        border-radius: 0.5rem;
    }
    .rightsecimage{
      height:100px;
        width:60%;
        border-radius: 0.5rem;
    }
   }
}

 .property-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}



.property-title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.property-type, .property-transaction, .property-address, .property-area {
  display: flex;
  align-items: center;
  color:black;
}

.property-price {
  color: green;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: rgb(90, 231, 97);
  margin-right: 10px;
}

.discount-price {
  color: red;
  font-size: 18px;
}

.property-description {
  margin-top: 10px;
  color:black;
}


.property-info h3, .property-amenities h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property-info p {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #333;
}

.icon {
  color: black;
}

.property-amenities{
 width:500px;
 padding: 1rem;
  height:fit-content;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.mapdirect{
  height:350px;
  width:500px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}










  