::-webkit-scrollbar {
  display: none;
}


.mainaddcom {
  font-family: Arial, sans-serif;
  /* background: #f2eded; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 5rem;
  background: linear-gradient(135deg, #f0e3ee, #c3ccde);
}

.addcon {

  width: 70%;
  height: fit-content;
  background: white;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

/* Stepper Container */
.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

/* Step Item */
.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Step Circle */
.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

/* Step Title */


/* Active Step */
.step-item.active .step-circle {
  background: #007bff;
}

/* Connecting Line */
.line {
  height: 4px;
  width: 100px;
  background: #ccc;
  position: relative;

}

.line.active {
  background: #007bff;
}

.infoadddara{
  font-size: 1rem;
  margin-top: 5px;
  /* font-size: 14px; */
  color: #666;

  @media(max-width:450px) {
    font-size: 0.7rem;
  }
}


.form-step {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  
   
  
}

.addaddressside{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
  width:100%;
  justify-content: space-between;

  @media(max-width: 1080px) {
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
}
.rightaddside{
    width:50%;
    
    @media(max-width: 1080px) {
      width:100%;
     }

}
.adderror{
  color:red;
}


.imageproadd{
  height:300px;
  width:100%;
  border: 1px dashed  black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconupload{
  font-size: 5rem;
}
.imgforaddphoto{
  height: 100%;
  width: 100%;
  
}
.leftaddside
{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.4rem;

  input,select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  @media(max-width: 1080px) {
   width:100%;
  }
}


.prevnextbtn{
  display: flex;
  flex-direction: row;
  gap:10px;
  width: 100%;
  justify-content: space-between;
  
}




.btnadd {
  padding: 10px;
  border: none;
  width:20%;
  height: fit-content;
  border-radius: 5px;
  background: #007bff;
  color: white;
  cursor: pointer;
  font-size: 15px;
  
}

.btnadd:hover {
  background: #0056b3;
}
.btnaddproperty{
  background: rgb(41, 210, 41);
  padding: 10px;
  border: none;
  height: fit-content;
  width:30%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
 
  

}

.btnaddproperty:hover{
  background: linear-gradient(45deg, #05e648, #5ca56e); /* Darker Blue on Hover */
  transform: translateY(-1px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

 
.detailcompo{

  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  justify-content: center;
  gap:0.8rem;
  

  label{
    font-size: 1rem;
    @media(max-width:700px)
    {
      font-size: 0.8rem;
    }
  }
  .namepro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:0.5rem;
   width: 100%;
   


   }

  input,textarea {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .divinfo{
    display: flex;
    flex-direction: row;
    gap:1rem;
    width: 70%;
    justify-content: center;
    /* @media (max-width:700px) {
      flex-direction: column;
     } */

     .seladdop{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap:0.8rem;
    
      select{
        height: 2rem;
        border-radius: 0.4rem;
        cursor: pointer;
      }
    }
      
  }
  span{
    color: red;
  }
}

.facilityinfo{
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  justify-content: center;
  gap:0.5rem;
  label{
    font-size: 1rem;
    @media(max-width:700px)
    {
      font-size: 0.8rem;
    }
  }
  input,textarea {
    width: 60%;
    height: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    @media(max-width:700px)
    {
      width:100%;
    }
  }

  span{
    color: red;
  }
}

.addfacinfo{
  display: flex;
  flex-direction: row;
  gap:1rem;
  width:70%;
  justify-content: center;

  .seladdforfac{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
    width:100%;

    select{
      height: 2rem;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
}
.priceadddata{
  display: flex;
  flex-direction: row;
  gap:1rem;
  width:70%;
  

  .priceadd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.7rem;
    width:100%;
   
  }

  input{
    height: 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 100%;
  }
}

.bedbathaddinfo{
  display: flex;
  flex-direction: row;
  gap:1rem;
  width:70%;
  

  .bedbathadd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.7rem;
    width:100%;
   
  }
}

.amenitiesadd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:0.7rem;
  width: 100%;

  input{
    width: 70%;
    height: 2rem;

    @media(max-width:700px)
    {
      width: 100%;
    }
  }

}

@media (max-width:400px) {
  .btnaddproperty{
   font-weight: lighter;
   
  }
 
  input{
   width: 100%;
  }
  }
 

  @media (max-width:700px) {
    .btnaddproperty{
     font-size: 1rem;
     width:40%;
    }
    .btnadd{
     width:30%;
    }
    input{
     width: 100%;
    }

    .priceadddata,.bedbathaddinfo{
    width: 100%;
    }
    }