 .layout{  
     position:relative;
    background-color: rgb(199, 199, 232);
    height:100vh;
    max-width: 1366px;
    margin-left: 0PX;
    margin-right:0PX;
    padding-left: 20 px;
    padding-right: 20 px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
}



 