.tools{
    display: flex;
      // justify-content: center;
      gap:0.5rem;
      
      p{
        
      //  text-align: center;
      display: inline-block;
       margin-right: 11rem;
       font-weight: bold;
       padding-top: 0.2rem;
      //  @media(max-width: 700px){
      //   margin-right: 3rem;
      // }
      }
     
      &:hover{
        background-color: #d9dde4;
        cursor: pointer;
        border-radius: 0.5rem;
        
      }
      @media(max-width: 700px){
         margin-right: 3rem;
        width:13rem;
      }
  }
  .tools_
  { 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:1px;
        .tool{
          height:6rem;
          width:6rem;
          box-shadow: 1px 0px 1px 1px grey;
          text-align: center;
          cursor: pointer;
          padding: 3px;
          gap:2px;
          
          &:hover{
            border:1px solid rgb(107, 107, 143);
            border-bottom: 0px;
            box-shadow: 2px 0px 2px 2px rgb(107, 107, 143);
          }
          @media(max-width: 700px){
           width:5rem;
           height:5rem;
           
          }
    }
  }