
.header{
    margin: 0 1rem 0 1rem;
    /* height: 3rem; */
    display: flex;
    position: fixed;
    height:60px;
    z-index: 1000;
    width:97%;
    padding-right: 1rem;
    
    top:0;
    flex-direction: row;
    align-items: center;
    background-color: rgb(247, 249, 250);
    .logo {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 0px;
        img {
          width: 60px;
          height:60px;
        }
        p{
          gap:0px;
          margin-left: 0px;
        }
        #realty{
          font-size:20px ;
          color:rgb(167, 167, 248);
        }
  
        span {
          @media(max-width:700px) {
            display: initial;
          }
        }
      }
      
  .right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:2rem;
    .item
  { justify-content: center;
    display: flex;
    flex-direction: column;
    img{
        height:1.5rem;
        width:1.5rem;
        align-self: center;
        cursor: pointer;
        
    }
    span{
        text-align: center;
        font-size: 0.8rem;
    }
  }
  button{
    height:2rem;
    width:4rem;
    text-align: center;
    background-color:rgb(5, 40, 75) ;
    color:white;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;

  }
  }
}
