.signIn{
    padding: 1 rem;
    max-width: 32 rem;
    margin:auto;
    height:20rem;
    width:20rem;
    border-radius: 0.5rem;
   
    
    
    h1{
        font-size: 1.875rem;
        text-align: center;
        font-weight: 600;
        margin: 1.75rem 0;
    }
    form{
        display: flex;
        flex-direction: column;
        gap:1rem;
        padding: 1rem;
    
    }

    input{
        border: 1px solid #d1d5db;
        padding: 0.75rem;
        border-radius: 0.5rem;
        width:18rem;
    }
    button{
        background-color:rgb(5, 40, 75);
        color:#ffffff;
        padding: 0.75rem;
        border-radius: 0.5rem;
        opacity: 0.8;
        cursor: pointer ;
        text-transform: uppercase;
    }
    .msg{
        display: flex;
        margin-top: 0.5rem;
        gap: 0.5rem;
        margin-left: 1.2rem;
        p{
            color:black;
        }
        span{
            color:rgb(43, 43, 235);
            &:hover{
                text-decoration: underline;
            }
        }
    }

}