.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1rem;

    .container{
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        margin-top: 1rem;
      width:fit-content;
      padding: 2rem;
      height:18rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:1rem;
     
            p{
                    padding: 0.75rem;
                    width:20rem;
                    @media(max-width: 700px){
                    width:14rem;
                  }
                }
            }
            .deleteuserbtn{
              color:white;
              background-color: rgb(5, 40, 75);
              border-radius: 0.5rem;
              margin-bottom: 0.5rem;
              text-transform: uppercase;
              cursor: pointer;
              width:20rem;
              height: 3rem;
              &:hover{
                  opacity: 0.95;
              }
              @media(max-width: 700px){
                  width:13rem;
                  height: 2rem;
  
                }
              margin-bottom: 1rem;
          }

           .details{
           width:30rem;
           padding: 1rem;
           box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
           @media(max-width: 700px){
            width:20rem;
           }
           h3{
            color: red;

           }
      p{
        font-size: 1.3rem;
        display: block;
        color:rgb(5, 40, 75);
        @media(max-width: 700px){
            font-size: 1rem;
           }
      }
           }
        
    }

