@import '../../res.scss';
.infocontainer{
    background-color: #f4f8fd;
    height: 100vh;
    padding: 3rem;
    margin: auto;
    display: flex;
    width:30rem;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    overflow: auto;
     gap:1rem;


     @include sm{
       width:25rem;
    }
    
    .containerDetails
    {
        display: flex;
        //if required then make it column
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1rem;
       
     .profile{
        border-radius: 50%;
        height: 6rem;
        width:6rem;
        object-fit: cover;
        cursor: pointer;
        //align-self: center;
        margin-top: 0.5rem;
     }
    
    .info{

            display: flex;
            justify-content: center;
            flex-direction: column;
            //margin-left:1rem;
            gap:0.5rem;
    }
  
    
    .btnEdit{
        background-color: rgb(5, 40, 75);
        color:white;
        border-radius: 0.5rem;
        padding: 0.75rem;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        width:5rem;
        height:3rem;
        &:hover{
            opacity: 0.95;
        }
       }
  }
  .image{
    height: 2rem;
    width:2rem;
    object-fit: cover;
    cursor: pointer;
    mix-blend-mode:multiply;
  }
  // my activity
  .myActivity{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:1px;
    .activity{
      height:6rem;
      width:6rem;
      box-shadow: 1px 0px 1px 1px grey;
      text-align: center;
      cursor: pointer;
      padding: 3px;
      gap:2px;
      
      &:hover{
        border:1px solid rgb(107, 107, 143);
        border-bottom: 0px;
        box-shadow: 2px 0px 2px 2px rgb(107, 107, 143);
      }
      
      span{
        background-color:rgb(224, 219, 219);
        border-radius: 10%;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        &:hover{
          border: none;
        }
      }

    }
  }

  //tools & service
  .tools{
    display: flex;
      // justify-content: center;
      gap:0.5rem;
      
      p{
        
      //  text-align: center;
      display: inline-block;
       margin-right: 12rem;
       font-weight: bold;
       padding-top: 0.2rem;
       @include sm{
        margin-right: 4rem;
      }
      }
     
      &:hover{
        background-color: #d9dde4;
        cursor: pointer;
        border-radius: 0.5rem;
      }
  }
  .tools_
  { 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:1px;
        .tool{
          height:6rem;
          width:6rem;
          box-shadow: 1px 0px 1px 1px grey;
          text-align: center;
          cursor: pointer;
          padding: 3px;
          gap:2px;
          
          &:hover{
            border:1px solid rgb(107, 107, 143);
            border-bottom: 0px;
            box-shadow: 2px 0px 2px 2px rgb(107, 107, 143);
          }
    }
  }
  //account setting and delete
    .account_setting
    {
      display: flex;
      // justify-content: center;
      gap:0.5rem;
      
      p{
        
      //  text-align: center;
       margin-right: 10rem;
       font-weight: bold;
       padding-top: 0.2rem;
       @include sm{
        margin-right: 3rem;
      }
      }
     
      &:hover{
        background-color: #d9dde4;
        cursor: pointer;
        border-radius: 0.5rem;
      }
    
    }

    //logout
      .btnlogOut{
        border-radius: 0.5rem;
        width:23rem;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        font-size: 1rem;
        gap:1rem;
        padding: 0.2rem;
       border: 1px solid gray;
       align-items: center;
       cursor: pointer;
 
        @include sm{
          width:13rem;
        }
      
    } 
    
}
