::-webkit-scrollbar {
    display: none;
  }
 
.mainUpdatecontainer
{
    background-color: rgba(243, 237, 237, 0.9);
    width:100%;
    height: 100vh;
    /* overflow-y: scroll; */
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* margin-top: 1rem; */
    @media(max-width: 700px)
    {
            width:100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            /* overflow-y: scroll; */
            /* padding-top: 60px; */

    }
    
    .leftUpdate{
        
        margin-left: 1.5rem;
        width:60%;
        height:100vh;
       
        padding-top: 60px;
        overflow-y:scroll;
        @media(max-width: 800px)
        {
                width:90%;
                height: 70vh;
                /* display: flex;
                flex-direction: column;
                overflow-y: scroll; */
                /* padding-top: 60px; */

        }
        h2{
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
        }
        form{
            box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
            border-radius: 0.5rem;
            background-color: white;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap:0.3rem;
            padding-left: 1rem;
            h3{
                padding-top:0.5rem;
                font-size: 1.2rem;
            }
            label{
                font-size: 0.9rem;
                margin-top: 0.4rem;
                span{
                    color:red;
                }
            }
            input,select{
               height:1.5rem; 
                width:95%;
                border:1px solid gray;
                border-radius: 0.2rem;
                padding-left: 0.5rem;
                text-transform: capitalize;
                
            }
            textarea{
                width:95%;
                border:1px solid gray;
                border-radius: 0.2rem;
                padding-left: 0.5rem;
                height:2rem;
                text-transform:capitalize;
            }
           
            .image{
              
                font-size: 1rem;
                font-weight: bold;
            }
            .btnUpload{
                cursor: pointer;
                background-color: rgb(36, 36, 104);
                color:white;
                width:13%;
                height: 2rem;
                text-transform: uppercase;
                border-radius: 0.2rem;
                @media(max-width: 700px) {
                    width:30%;
                  }
            }

            .btnSubmit{
                cursor: pointer;
                background-color: rgb(36, 36, 104);
                color:white;
                width:20%;
                border-radius: 0.2rem;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                height: 2rem;
                @media(max-width: 700px) {
                    width:40%;
                  }
            }
            p{
                margin-bottom: 1rem;
                color: red;
            }
            
        }
    }

    .rightUpdate
    {  
      
       width:30%;
       height: 100vh;
       overflow-y: scroll;
      flex-direction: column;
      padding-top: 60px;
      margin-left: 1.5rem;
    
      
     
      h2{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .contain{
       


            box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
            border-radius: 0.5rem;
            background-color: white;
            display: flex;
           
            flex-direction: column;
            gap:0.3rem;
            padding-left: 1rem;
  .info-contain{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: center;
    .loc,.bed,.bath{
        display: flex;
        flex-direction: row;
        gap:1rem;
        align-items: center;

    }
    .locicon,.bedicon,.bathicon{
        width:1.5rem;
        height:1.5rem;
        align-self: center;
    }
    .price{
        background-color: rgb(82, 145, 227);
        color: rgb(24, 23, 23);
        font-size: 1.2rem;
        width:auto;
        padding: 0.5rem;
        border-radius: 0.4rem;
        text-align: center;
    }
    .bedbath{
        display: flex;
        flex-direction: row;
        gap:1rem;
        .bed,.bath{
            background-color: rgb(234, 224, 224);
            padding: 0.3rem;
            border-radius: 0.4rem;
        }
        @media(max-width: 875px)
        {
               flex-direction: column;
        }
    }
  }
           
           .imageContain{
            margin: 1rem 1rem 1rem 1rem;
            display: flex;
            flex-direction: column;
            gap:1rem;
            
            .imageProperty{
                
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap:1rem;
                    .listimage{
                        border: 1px solid gray;
                    border-radius: 0.5rem;
                        height:8rem;
                        width:10rem;
                        align-self: center;
                    }
                    button{
                        height:2rem;
                        width:6rem;
                        background-color: rgb(43, 43, 101);
                        color: white;
                        cursor: pointer;
                        border-radius: 0.5rem;

                        /* @media(max-width: 700px) {
                            width:4rem;
                          } */
                    }
                   
            }
           }
    }

    @media(max-width: 800px)
    {
            width: 90%;
            height:30vh;
            /* overflow-y:scroll;*/
            padding-top: 0; 
            margin-top: 1rem;
           
    }
   
    }
    @media(max-width: 800px)
    {
            flex-direction: column;
    }
}